//有radio的手風琴
.icon-has-radio{
	.icon-radio{
		width: 16px;
    height: 16px;
    display: inline-block;
    border: 2px solid #323232;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 2px;
		margin-right: 5px;
		position: relative;
		&::before{
			content: "";
			position: absolute;
			display: block;
			width: 0px;
			height: 0px;
			background: $main-theme;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			border-radius: 50%;
			transition: all 0.3s ease;
		}
	}
	.isopen{
		.icon-radio{
			&::before{
				width: 8px;
				height: 8px;
			}
		}
	}
}


.customization-radio{
	width: 16px;
	height: 16px;
	display: inline-block;
	border: 2px solid #323232;
	border-radius: 50%;
	vertical-align: top;
	margin-top: 2px;
	margin-right: 5px;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		display: block;
		width: 0px;
		height: 0px;
		background: $main-theme;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		border-radius: 50%;
		transition: all 0.3s ease;
	}
	&.li-isSelect{
		&::before{
			width: 8px;
			height: 8px;
		}
	}
	input{
		opacity: 0;
		position: absolute;
    top: 0;
		left: 0;
		cursor: pointer;
	}
}
